.pagination {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  width: 334px;
  height: 40px;
}

.page, .arrow {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid var(--color-border);
  background-color:  var(--color-bg-primary);
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.page:hover, .arrow:hover {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
}

.active {
  background-color: var(--color-accent);
  color: var(--color-white);
  border-color: var(--color-accent);
}

.arrow:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.dots {
  padding: 6px 12px;
}

@media (min-width: 768px) {
.pagination {
  width: 446px;
  height: 44px;
  margin-top: 60px;
}

.page, .arrow {
  width: 44px;
  height: 44px;
  font-size: 18px;
  line-height: 1.22;
}
}
