.addPetBtn{
border-radius: 30px;
padding: 10px 16px;
width: 103px;
height: 38px;
background: var(--color-accent);
font-weight: 500;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.03em;
color: var(--color-white);
transition: all 0.3s ease;
}

.addPetBtn:hover,
.addPetBtn:focus{
background-color: var(--color-accent-hover);
color:  var(--color-accent);
}