.addPetBtn{
border-radius: 30px;
padding: 10px 16px;
width: 103px;
height: 38px;
background: #f6b83d;
font-weight: 500;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.03em;
color: #fff;
transition: all 0.3s ease;
}

.addPetBtn:hover,
.addPetBtn:focus{
background-color: #fbe7c1;
color: #f6b83d;
}