.itemFriend {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 335px;
  min-width: 320px;
  height: 184px;
  padding: 12px 12px 20px 12px;
  border-radius: 15px;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.itemFriend:hover,
.itemFriend:focus{
transform: scale(1.03);
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.itemFriend::-webkit-scrollbar {
  width: 6px;             
}

.itemFriend::-webkit-scrollbar-thumb {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}

.textData {
  border-radius: 30px;
  padding: 4px 8px;
  height: 32px;
  background: #fff4df;
  font-size: 12px;
  line-height: 1.33;
  color: #f6b83d;
  align-self: flex-end;
}

.wrapperInfoFriend {
  display: flex;
  gap: 14px;
  align-items: flex-start;
}

.wrapperInfoFriend img {
  width: 80px;
  height: 80px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title{
letter-spacing: -0.04em;
}

.label{
line-height: 1.29;
color: rgba(38, 38, 38, 0.5);
}

.value{
color: #262626;
transition: color 0.3s ease;
}

.value:hover,
.value:focus  {
  color:#f6b83d;
}

@media (min-width: 768px) {
  .itemFriend {
    width: calc(50% - 20px);
    height: 196px;
  }

  .textData {
  height: 34px;
  background: #fff4df;
  font-size: 14px;
  line-height: 1.29;
}

.wrapperInfoFriend {
  gap: 16px;
}

.wrapperInfoFriend img {
  width: 90px;
  height: 90px;
}

.title{
font-size: 20px;
line-height: 1.3;
}
}

@media (min-width: 1280px) {
  .itemNew {
    width: calc(50% - 20px);    
  }

  .wrapperInfoFriend {
  gap: 20px;
}
}