.wrapper{
display: flex;
flex-direction: column;
border-radius: 30px;
width: 100%;
max-width: 335px;
padding: 40px 20px;
background: #fff;
align-items: center;
justify-content: center;
}

.image{
width: 80px;
height: 80px;
margin-bottom: 20px;
}

.title{
font-size: 20px;
line-height: 1;
color: #f6b83d;
margin-bottom: 20px;
}

.text{
text-align: center;
margin-bottom: 24px;
}

.links{
display: flex;
flex-direction: row;
gap: 8px;
}

.link{
display: flex;               
align-items: center;        
justify-content: center;
border-radius: 30px;
padding: 12px 24px;
width: 129px;
height: 42px;
background: #fff4df;
font-weight: 700;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.03em;
color: #f6b83d;
transition: all 0.3s ease;
}

.link:hover,
.link:focus {
color: #fff;
background: #f6b83d;
}

@media (min-width: 768px) {
.wrapper{
max-width: 466px;
padding: 60px;}

.title{
font-size: 24px;
line-height: 1.17;
}

.text{
margin-bottom: 28px;
}

.link{
padding: 14px 48px;
width: 140px;
height: 48px;
font-size: 16px;
line-height: 1.25;
}
}