.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    gap: 35px;    
  }
}