.userBlock{
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 40px;
}

.avatar{
text-align: center;
border-radius: 100px;
padding: 10px;
width: 94px;
height: 94px;
object-fit: cover;
align-items: center;
margin-bottom: 30px;
}

.wrapperAvatarCloud{
display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
margin-bottom: 28px;
}

.uploadText{
font-weight: 500;
font-size: 12px;
line-height: 1.33;
letter-spacing: -0.02em;
}

.userInfo{
width: 100%;
}

.title{
font-weight: 700;
font-size: 16px;
line-height: 1.25;
margin-bottom: 20px;
}

.userList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.userListItem {
  display: flex;
  align-items: center;
  border: 1px solid #f6b83d;
  border-radius: 30px;
  padding: 12px;
  max-width: 295px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  background-color: #fff;
}

@media (min-width: 768px) {
.userBlock{
margin-bottom: 32px;
}

.avatar{
width: 110px;
height: 110px;
margin-bottom: 20px;
}

.uploadIcon{
width: 110px;
height: 110px;
}

.uploadText{
font-size: 14px;
line-height: 1.29;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.title{
font-size: 18px;
line-height: 1.33;
align-self: flex-start;
}

.userList {
display: flex;
flex-direction: row; 
flex-wrap: wrap;
justify-content: flex-start;
}

.userListItem {
max-width: 305px;
height: 52px;
font-size: 16px;
line-height: 1.25;
width: calc(50% - 10px);
}
}

@media (min-width: 1280px) {
.userList {
flex-direction: column;
justify-content: flex-start;
}

.userListItem{
width: 100%;
}
}