.LogOutBtn{
border-radius: 30px;
padding: 12px 28px;
width: 114px;
height: 42px;
background: #fff4df;
font-weight: 700;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #f6b83d;
transition: all 0.3s ease;
}

.LogOutBtn:hover,
.LogOutBtn:focus{
background: #fbe7c1;
}