.wraperTitle{
margin-bottom: 10px;
}

.title{
letter-spacing: -0.04em;
margin-bottom: 12px;
}

@media (min-width: 768px) {
.wraperTitle{
margin-bottom: 32px;
}

.title{
font-size: 54px;
margin-bottom: 16px;
}

.subtitle{
font-size: 18px;
line-height: 1.22;
}
}