.wrapper{
display: flex;
flex-direction: column;
border-radius: 30px;
width: 100%;
max-width: 335px;
padding: 40px 28px;
background: var(--color-modal);
align-items: center;
justify-content: center;
}

.image{
width: 80px;
height: 80px;
margin-bottom: 20px;
}

.text{
font-weight: 700;
font-size: 20px;
line-height: 1;
letter-spacing: -0.03em;
margin-bottom: 28px;
color: var(--color-text-primary);
}

.buttons{
display: flex;
flex-direction: row;
gap: 10px;
}

.button{
color: var(--color-text-primary);
border-radius: 30px;
min-width: 134px;
padding: 12px 44px;
background: var(--color-bg-primary);
transition: all 0.3s ease;
}

.button:hover,
.button:focus {
color: var(--color-white);
background: var(--color-accent);
}

@media (min-width: 768px) {
.wrapper{
max-width: 448px;
padding: 80px;}

.text{
font-size: 24px;
line-height: 1.17;
}

.button{
font-size: 16px;
line-height: 1.25;
min-width: 140px;
padding: 14px 44px;
}
}

@media (min-width: 1280px) {
.buttons{
gap: 8px;
}
}