.form {
display: flex;
flex-direction: column;
width: 100%;
}

.wrapperFormInput{
display: flex;
flex-direction: column;
gap: 10px;
margin-bottom: 24px;
}

.inputWrapper {
position: relative;
}

.input {
width: 100%;
height: 42px;
padding: 12px 40px 12px 12px;
border-radius: 30px;
border: 1px solid var(--color-border);
background-color: var(--color-bg-primary);
color: var(--color-text-primary);
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.03em;
transition: border-color 0.3s ease;
}

.input:hover,
.input:focus {
border-color: var(--color-accent);
outline: none;
}

.inputError {
border-color: var(--color-error);
}

.inputSuccess {
border-color: var(--color-success);
}

.iconError {
position: absolute;
right: 12px;
top: 50%;
transform: translateY(-50%);
width: 18px;
height: 18px;
color: var(--color-error);
}

.iconSuccess {
position: absolute;
right: 12px;
top: 50%;
transform: translateY(-50%);
width: 18px;
height: 18px;
stroke: var(--color-success);
fill: none;
}

.eyeIcon {
position: absolute;
right: 36px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
stroke: var(--color-text-primary);
fill: none;
transition: stroke 0.3s ease;
}

.eyeIcon:hover,
.eyeIcon:focus {
stroke: var(--color-accent);
}

.error {
margin-top: 6px;
font-size: 12px;
color: var(--color-error);
text-align: center;
min-height: 18px;
}

.submitButton {
height: 42px;
border-radius: 30px;
background-color: var(--color-accent);
color: var(--color-white);
text-transform: uppercase;
border: none;
transition: all 0.3s ease;
margin-bottom: 12px;
}

.submitButton:hover:not(:disabled),
.submitButton:focus:not(:disabled)  {
background-color: var(--color-bg-secondary);
color: var(--color-accent);
}

.submitButton:disabled {
opacity: 0.6;
cursor: not-allowed;
}

.text{
font-size: 12px;
line-height: 1.17;
letter-spacing: -0.03em;
color: var(--color-text-secondary);
text-align: center;
}

.linkPage{
font-weight: 700;
text-decoration-skip-ink: none;
color: var(--color-accent); 
transition: color 0.3s ease;   
}

.linkPage:hover,
.linkPage:focus {
color: var(--color-text-secondary);
}

@media (min-width: 768px) {
.wrapperFormInput{
gap: 16px;
margin-bottom: 32px;
}

.input {
width: 100%;
height: 52px;
padding: 16px 52px 16px 16px;
border-radius: 30px;
border: 1px solid var(--color-border);
font-size: 16px;
line-height: 1.25;
}

.submitButton {
height: 52px;
font-size: 16px;
line-height: 1.25;
margin-bottom: 16px;
}

.text{
font-size: 14px;
line-height: 1.43;
}
}