.newsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%;
  max-width: 375px;
  min-width: 320px;
  padding: 114px 20px 10px;
}

.wrapperTitleSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 24px;
}

.titleNewsPage {
  align-self: flex-start;
  text-align: left;
  letter-spacing: -0.03em;
  margin-bottom: 0; 
}

.textNoFound{
letter-spacing: -0.03em;
}

@media (min-width: 768px) {
  .newsPage {
    max-width: 768px;  
    padding: 167px 32px 10px;
  }

  .wrapperTitleSearch {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
  }

  .titleNewsPage {
    flex-shrink: 0; 
  }

  .search {
    width: 230px;
    margin-bottom: 0; 
  }

.textNoFound{
font-weight: 600;
font-size: 16px;
line-height: 1.25;
}
}

@media (min-width: 1280px) {
  .newsPage {
    max-width: 1280px;  
    padding: 178px 64px 10px;
  }
}