.header {
height: 40px;
position: absolute;
left: 16px;  
right: 0; 
background: transparent;
z-index: 10;
}

.container {
display: flex;
align-items: center;
justify-content: space-between;
padding: 16px 16px;
}

.logo {
display: flex;
align-items: center;
margin-right: 105px;
}

.desktopNav {
display: none;
}

.desktopAuthNav {
  display: none;
}

.avatar{
width: 40px;
height: 40px;
border-radius: 100px;
margin-right: 12px;
}

.burgerBtn {
background: transparent;
padding: 0;
display: flex;
align-items: center;
justify-content: center;  
}

.burgerWhite svg {
fill: #fff;
stroke: #fff;
}

.burgerBlack svg {
fill: #000;
stroke: #000;
}

.burgerMenu {
position: fixed;       
top: 0;               
right: 0;             
height: 100vh;        
width: 218px;         
background-color: #fff;
padding: 0 20px;
display: flex;
flex-direction: column;
z-index: 100;         
overflow-y: auto;  
}

.menuContent{
flex: 1;                 
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;
position: relative;       
width: 100%;
}

.menuAuth{
position: absolute;
bottom: 28px;   
left: 50%;
transform: translateX(-50%);
}

.closeBtn {
position: absolute;
top: 28px;
right: 20px;
background: transparent;
display: flex;
align-items: center;
justify-content: center;
z-index: 101;
}

@media (min-width: 375px) {
.container {
max-width: 335px;
padding: 16px 18px;
}
}

@media (min-width: 768px) {
.header{
max-width: 704px;
padding-left: 32px;
padding-right: 32px;
}

.container {
max-width: 704px;
padding: 32px 32px;
}

.burgerMenu {
width: 374px;
padding: 32px;
}

.logo {
margin-right: 190px;
}

.userInfo{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 8px;
margin-right: 18px;
}

.name{
font-weight: 700;
font-size: 20px;
line-height: 1;
letter-spacing: -0.03em;
}
}

@media (min-width: 1280px) {
.header {
max-width: 1216px;
}

.container {
max-width: 1216px;
}  

.burgerBtn,
.burgerMenu{
display: none;
}

.logo{
margin-right: 50px;
}

.desktopAuthNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktopNav {
display: flex;
align-items: center;
justify-content: center;
/* gap: 110px; */
}

.desktopHeaderUser{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 8px;
}
}