.loginPage{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 
width: 100%;       
max-width: 375px;  
min-width: 320px; 
background: #f9f9f9;
padding: 60px 20px 10px;
}

.image {
width: 90%;
max-width: 334px;   
height: auto; 
border-radius: 30px;
object-fit: cover;
margin-bottom: 10px;
}

.wrapperLoginPage{
width: 90%;    
max-width: 334px;  
padding: 20px;
border-radius: 30px; 
background: #fff;
}

@media (min-width: 768px) {
.loginPage{
max-width: 768px;  
padding: 114px 32px 10px;
}

.image {
max-width: 704px;   
border-radius: 60px;
margin-bottom: 16px;
}

.wrapperLoginPage{
max-width: 704px;  
padding: 30px 140px;
border-radius: 60px; 
}
}

@media (min-width: 1280px) {
.loginPage{
max-width: 1280px;  
padding: 114px 32px 32px;
flex-direction: row;
justify-content: center;
align-items: center;
gap:32px;
}

.image {
max-width: 592px;   
margin-right: 0; 
}
}