.itemNotices {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
max-width: 335px;
min-width: 320px;
height: 454px;
position: relative; 
padding: 32px; 
border-radius: 16px;
background: var(--color-modal);
border: 1px solid #f6b83d;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.itemNotices:hover,
.itemNotices:focus {
transform: scale(1.03);
box-shadow: 0 10px 20px var(--color-shadow);
}

.sckroll{
overflow-y: auto;
overflow-x: hidden;
}

.sckroll::-webkit-scrollbar {
  width: 3px;             
}

.sckroll::-webkit-scrollbar-thumb {
  background-color: 0 10px 20px var(--color-shadow); 
  border-radius: 3px;
}

.image{
border-radius: 16px;
width: 100%;
height: 178px;
margin-bottom: 24px;
}

.wrapperTitlePopular{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
margin-bottom: 8px;
}

.title{
text-align: center;
color: var(--color-text-primary);
}

.wrapperInfo{
display: flex;
flex-direction: row;
gap: 14px;
margin-bottom: 16px;
}

.wrapperValue{
display: flex;
flex-direction: column;
gap: 2px;
}

.label{
font-size: 10px;
color: var(--color-text-secondary);
}

.value{
font-size: 12px;
line-height: 1.17;
color: var(--color-text-primary);
}

.comment{
margin-bottom: 16px;
color: var(--color-text-primary);
}

.price{
font-weight: 700;
font-size: 16px;
line-height: 1.25;
margin-bottom: 12px;
color: var(--color-text-primary);
}

.buttons{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
margin-top: auto;
}

.buttonLearnMore{
border-radius: 30px;
padding: 14px 40px;
width: 200px;
height: 46px;
background: var(--color-bg-secondary);
font-weight: 500;
color: var(--color-accent);
transition: all 0.3s ease;
}

.buttonLearnMore:hover,
.buttonLearnMore:focus{
background-color: var(--color-accent);
color: var(--color-white);
}

.buttonHeart {
background: transparent;
border: none;
padding: 0;
align-items: center;
justify-content: center;
transition: transform 0.3s ease;
}

.buttonDelete {
  background: transparent;
  border: none;
  padding: 0;
  transition: transform 0.3s ease;
}

.buttonHeart:hover,
.buttonHeart:focus,
.buttonDelete:hover,
.buttonDelete:focus{
background: transparent;
transform: scale(1.4);
}

@media (min-width: 768px) {
.itemNotices {
width: calc(50% - 20px);
height: 472px;
}  

.title{
font-size: 18px;
line-height: 1.33;
}

.popularity{
line-height: 1.43;
}

.wrapperInfo{
gap: 16px;
}

.comment{
margin-bottom: 24px;
}

.price{
font-size: 18px;
line-height: 1.33;
}
}

@media (min-width: 1280px) {
.itemNotices {
width: calc(50% - 32px);
}
}