.EditUserBtn{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

.editBtn{
display: flex;
align-items: center;
gap: 4px;
border-radius: 30px;
padding: 10px 14px;
min-width: 80px;
background: #f6b83d;
font-weight: 500;
letter-spacing: -0.02em;
color: #fff;
transition: all 0.3s ease; 
}

.editBtn:hover,
.editBtn:focus {
background-color: #f7ca5d;
}


.iconPen{
cursor: pointer;
transition: transform 0.3s ease;
}

.iconPen:hover,
.iconPen:focus {
transform: scale(1.4); 
}

@media (min-width: 768px) {
.editBtn{
padding: 10px 20px;
min-width: 118px;
font-size: 16px;
line-height: 1.25;
}
}
