.wrapper{
position: relative; 
display: flex;
flex-direction: column;
border-radius: 30px;
width: 100%;
max-width: 335px;
padding: 40px 28px;
background: #fff;
align-items: center;
justify-content: center;
}

.category{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
top: 40px;     
left: 90px;
border-radius: 30px;
padding: 8px 14px;
width: 48px;
height: 32px;
background: #fff4df;
font-size: 12px;
line-height: 1.33;
color: #f6b83d;
}

.image{
width: 120px;
height: 120px;
border-radius: 100px;
padding: 10px;
margin-bottom: 20px;
}

.title{
margin-bottom: 10px;
}

.popularityWrapper{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 84px;
margin-bottom: 24px;
}

.popularity{
line-height: 1.43;
}

.wrapperInfo{
display: flex;
flex-direction: row;
gap: 27px;
margin-bottom: 16px;
}

.wrapperValue{
display: flex;
flex-direction: column;
gap: 4px;
}

.label{
font-size: 10px;
color: rgba(38, 38, 38, 0.5);
}

.value{
font-size: 12px;
line-height: 1.17;
}

.comment{
margin-bottom: 32px;
}

.price{
font-weight: 700;
font-size: 16px;
line-height: 1.25;
margin-bottom: 20px;
}

.buttons{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
gap:10px;
margin-top: auto;
}

.buttonContact,
.buttonAdd{
display: flex;
align-items: center;     
justify-content: center;
border-radius: 30px;
width: 135px;
height: 44px;
background: #fff4df;
font-weight: 500;
font-size: 16px;
line-height: 1.25;
color: #f6b83d;
transition: all 0.3s ease;
}

.buttonAdd{
gap: 8px;
}

.buttonAdd:hover,
.buttonAdd:focus,
.buttonContact:hover,
.buttonContact:focus{
background-color: #f6b83d;
color: #fff;
}

@media (min-width: 768px) {
.wrapper{
max-width: 473px;
padding: 40px 70px;
}

.category{
top: 40px;     
left: 162px;
width: 52px;
height: 34px;
font-size: 14px;
line-height: 1.29;
}

.image{
width: 150px;
height: 150px;
margin-bottom: 16px;
}

.title{
font-size: 18px;
line-height: 1.33;
}

.popularityWrapper{
gap: 64px;
margin-bottom: 20px;
}

.price{
font-size: 18px;
line-height: 1.33;
}

.buttonContact,
.buttonAdd{
width: 160px;
height: 48px;
}
}