.tabs {
  display: flex;
  flex-direction: row;
  gap: 10px; 
  margin-bottom: 20px;
}

.tabs button {
  border-radius: 30px;
  width: 123px;
  height: 42px;
  background: #fff;
  font-weight: 400;
  color: #262626;
  transition: all 0.3s ease;
}

.tabs button:hover,
.tabs button:focus {
  background: #fbe7c1;
  outline: none;
}

.tabs button.active {
  background: #f6b83d;
  color: #fff;
  margin-bottom: 20px;
}

.notiecList{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
}

.text{
text-align: center;
max-width: 335px;
min-width: 320px;  
}

.textSpan{
font-weight: 700;
color: #f6b83d;
}

@media (min-width: 768px) {
.tabs{
gap: 8px;
}

.tabs button {
  border-radius: 30px;
   width: 142px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.notiecList{
flex-direction: row; 
flex-wrap: wrap;
justify-content: flex-start;
}

.text{
font-size: 16px;
line-height: 1.25;
max-width: 458px; 
}
}