.home{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 
width: 100%;       
max-width: 375px;  
min-width: 320px; 
padding: 10px 20px 10px;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

 .wrapper {
  position: relative;
  max-width: 335px;
  width: 100%;
  height: 390px;
  padding-top: 118px; 
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
background: var(--color-accent);
margin: 0 auto; 
  }

.title{
font-size: 50px;
line-height: 0.96;
color: var(--color-white);
margin-bottom: 24px;
}

.text{
color: var(--color-white);
}

.textSpan{
font-weight: 700;
font-size: 50px;
line-height: 0.96;
letter-spacing: -0.03em;
color: var(--color-span);
}

.image{ 
border-radius: 30px;
width: 100%;
max-width: 335px;
}

@media (min-width: 768px) {
  .home {
max-width: 768px;  
padding: 16px 32px 10px;
  }

  .wrapper {
  border-radius: 60px;
  max-width: 704px;
  width: 100%;
  height: 496px;
  padding-top: 178px; 
  padding-left: 32px;
  padding-right: 32px;
  }

  .title {
    font-size: 80px;
    margin-bottom: 32px;
  }

  .text {
  font-size: 18px;
  line-height: 1.22;
  width: 255px;      
  text-align: left;
  margin-left: auto;
  }

  .textSpan{
font-size: 80px;
}

  .image { 
  border-radius: 60px;
  max-width: 704px;
  width: 100%;
  }
}

@media (min-width: 1280px) {
.home {
max-width: 1280px;  
  }

  .wrapper {
  max-width: 1216px;
  width: 100%;
  height: 384px;
  padding-top: 178px;
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: flex-end;  
  }

  .title{
  font-size: 90px;
  line-height: 0.97;
  width: 760px;
  margin-bottom: 0; 
  }

  .textSpan{
font-size: 90px;
line-height: 0.97;
}

  .text {
  margin-left: 0;}

  .image { 
  max-width: 1216px;
  width: 100%;
  }
}