.formSearch { 
  width: 100%;
  max-width: 335px;
  min-width: 320px;
  position: relative; 
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center; 
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px 50px 12px 16px; 
  border: 1px solid transparent;;
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #262626;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:hover, 
.input:focus {
  border-color: #f6b83d;
}

.clearButton {
  position: absolute;
  right: 40px; 
  background: transparent;
  border: none;
   padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;  
}

.searchButton {
  position: absolute;
  right: 10px; 
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;  
}

.clearButton:hover svg,
.searchButton:hover svg,
.clearButton:focus svg,
.searchButton:focus svg{
  fill: #f6b83d;
}

